.page-container{
    background:#111;
}

.page-content-container{
    width:100%;
}

a{
    text-decoration:none;
}

.sidebar{
    height:100%;
    position: fixed;
    right: 30px;
    padding: 0;
    z-index: 3;
}

.sidebar ul{
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    /*right: 0;*/
    margin: auto;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
}

.list-items .circle-box{
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    background: #2b2a2a;
}
.list-items .list-item{
    font-size:20px;
    color:rgba(255, 255, 255, 0.9);
    padding:10px 20px;
    display:flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.list-items .list-item:hover{
    color:white;
    background:orange;
}

.list-items .list-item.selected{
   color:white;
   background:orange;
}

/* .list-items .list-item::before{
    position: absolute;
    content: '';
    top: 0;
    right:0;
    height:100%;
    width:5px;
    background-color:orange ;
    opacity: 0;
    transform:scaleY(0);
    transition: transform 0.2s, opacity 0.2s;
}

.list-item:hover::before{
    opacity: 0.5;
    transform:scaleY(0.5) scaleX(2);
    background:red;
}

.list-items .list-item.selected::before{
    opacity: 1;
    transform:scaleY(1);
} */

fa-icon{
    font-size: 18px;
}

.list-text{
    visibility: hidden;
    position: absolute;
}

.list-text span{
    line-height:50px;
    padding:0 20px;
    font-size:15px;
}

.circle-box:hover > .list-text{
    visibility: visible;
    position: absolute;
    z-index:-1;
    top:0;
    right:0;
    padding: 0 40px 0 0px;
    height:50px;
    background-color:orange;
    transition: padding 0.4s ease-in-out;
    border-radius: 30px;
}

#content{
    width:100%;
    padding:15px;
    min-height:100vh;
}

@media (max-width:768px){
   .sidebar{
       display: none;
   }

   .navbar-collapse {
     position: fixed;
     top:0; 
     bottom:0;
     right:100%;
     width: 100%;
     padding-right: 1rem;
     padding-left: 1rem;
     overflow-y: auto;
     visibility: hidden;
     z-index: 1;
     background-color: black;
     transition: visibility .5s ease-in-out, transform .5s ease-in-out;
   }
   .navbar-collapse.show {
     visibility: visible;
     transform: translateX(100%);
   }

   .navbar-nav{
        padding-top:100px;
   }

   .navbar-nav li{
       padding-bottom: 15px;
   }

   .nav-link{
       border-bottom: 0.5px solid rgba(211, 211, 211, .2);
   }

   .navbar-nav > li:last-child a{
       border:none;
   }

}