<div class="page-container">     
    <nav class="sidebar">
        <ul class="list-items list-inline" id="menuCollapse">
            <li class="list-inline-item">
                <a routerLink="/home" routerLinkActive="selected" class="list-item  circle-box">
                    
                    <fa-icon [icon]="home" transform="left-4.5"></fa-icon>
                    <div class="list-text">
                        <span>Home</span>
                    </div>
                </a>
            </li>

            <li class="list-inline-item">
                <a routerLink="/profile" routerLinkActive="selected" class="list-item circle-box">
                    <div class="list-text">
                        <span>Profile</span>
                    </div>
                    <fa-icon [icon]="user" transform="left-3"></fa-icon>
                </a>
            </li>

            <li class="list-inline-item">
                <a routerLink="/works" routerLinkActive="selected" class="list-item circle-box">
                    <div class="list-text">
                        <span>Projects</span>
                    </div>
                    <fa-icon [icon]="briefcase" transform="left-3"></fa-icon>
                </a>
            </li>

            <li class="list-inline-item">
                <a routerLink="/contact" routerLinkActive="selected" class="list-item circle-box">
                    <div class="list-text">
                        <span>Contact</span>
                    </div>
                    <fa-icon [icon]="contact" transform="left-3"></fa-icon>
                </a>
            </li>
        </ul>
    </nav>

   
    <nav class="navbar navbar-expand-lg navbar-dark d-md-none fixed-top" id="mobileNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Jasper Tham</a>
            <button class="navbar-toggler" type="button" data-trigger="#main_nav">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="navbar-collapse" id="main_nav">
                <div class="offcanvas-header mt-3">  
                  <button class="btn btn-outline-danger btn-close float-right">Close</button>
                </div>
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                       <a class="nav-link" href="/home">Home</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/works">My Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
              </div> 
        </div>
    </nav>
    <div id="content">
       
       
        <div class="page-content-container">
            <router-outlet></router-outlet>
        </div>
    </div>

   
</div>