<div class="container contact-container">
    <section class="title-container text-center d-none d-md-block">
        <h1>Contact <span>Me</span></h1>
        <span class="title-bg">You Can</span>
    </section>

    <div class="row">
        <div class="col-md-4 col-12">
            <div class="contact-box">
                <h3>Find me!</h3>
                <p class="contact-text">Feel free to get in touch with me for any job opporturnity. I am always ready to gain more experience in web developement and the opporturnity to be part of your vision</p>
                <p class="contact-icon">
                    <fa-icon [icon]="envelope"></fa-icon>
                    <span>Email me</span>
                    jaspertham98@gmail.com
                </p>
                <p class="contact-icon">
                    <fa-icon [icon]="phone"></fa-icon>
                    <span>Call me</span>
                    +6016 4928027
                </p>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://github.com/jaspetham" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/jasper-tham-628600178/" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-8 col-12">
            <form class="contactForm" action="https://formspree.io/mlepyyee" method="POST">
                <div class="form-row">
                  <div class="col-12 col-md-4">
                    <input type="text" class="form-control" placeholder="Name">
                  </div>
                  <div class="col-12 col-md-4">
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                  <div class="col-12 col-md-4">
                    <input type="text" class="form-control" placeholder="Subject">
                  </div>
                  <div class="col-12">
                    <textarea class="message" placeholder="Message"></textarea>
                    <button type="submit" class="btn btn-contact">
                        <span>Send message</span>
                    </button>
                  </div>
                </div>
              </form>
        </div>
    </div>
</div>
