<div class="container profile-container">
    <section class="title-container text-center d-none d-md-block">
        <h1>About <span>me</span></h1>
        <span class="title-bg">Know More</span>
    </section>

    <section class="profile-content">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <div class="row ">
                        <div class="col-12">
                            <h3 class="profile-title pb-4">Personal Infos</h3>
                        </div>
                        <div class="col-md-6 col-12">
                            <ul class="about-list list-unstyled">
                                <li>
                                    <span class="title">First Name : </span>
                                    <span class="info-text"> Jasper</span>
                                </li>
                                <li>
                                    <span class="title">Last Name : </span>
                                    <span class="info-text"> Tham</span>
                                </li>
                                <li>
                                    <span class="title">Age : </span>
                                    <span class="info-text"> 22</span>
                                </li>
                                <li>
                                    <span class="title">Nationality : </span>
                                    <span class="info-text"> Malaysian</span>
                                </li>
                                <li>
                                    <span class="title">Availability : </span>
                                    <span class="info-text"> Immediate</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-12">
                            <ul class="about-list list-unstyled">
                                <li>
                                    <span class="title">Location : </span>
                                    <span class="info-text"> Malaysia, Sabah</span>
                                </li>
                                <li>
                                    <span class="title">Phone number : </span>
                                    <span class="info-text"> +6016-4928027</span>
                                </li>
                                <li>
                                    <span class="title">Email : </span>
                                    <span class="info-text"> jaspertham98@gmail.com</span>
                                </li>
                                <li>
                                    <span class="title">Github : </span>
                                    <span class="info-text"> github.com/jaspetham</span>
                                </li>
                                <li>
                                    <span class="title">Language : </span>
                                    <span class="info-text"> English, Chinese, Malay</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 mt-4">
                            <a href="../../assets/Jasper_Tham_Resume_final.pdf" class="btn custom-btn"><span>  download cv</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="line">
            <div class="row">
                <div class="col-12">
                    <h3 class="profile-title pb-md-5 mb-md-3 text-md-center">My skills</h3>
                </div>
                <div class="col-6 col-md-4">
                    <circle-progress
                    [percent]="80"
                    [radius]="100"
                    [animation]="true"
                    [animationDuration]="1000"
                    [startFromZero]="true"
                    ></circle-progress>
                    <h6 class="circle-title text-center">HTML</h6>
                </div>
                <div class="col-6 col-md-4">
                    <circle-progress
                    [percent]="80"
                    [radius]="100"
                    [animation]="true"
                    [animationDuration]="1000"
                    [startFromZero]="true"
                    ></circle-progress>
                    <h6 class="circle-title text-center">CSS</h6>
                </div>
                <div class="col-6 col-md-4">
                    <circle-progress
                    [percent]="88"
                    [radius]="100"
                    [animation]="true"
                    [animationDuration]="1000"
                    [startFromZero]="true"
                    ></circle-progress>
                    <h6 class="circle-title text-center">Bootstrap 4</h6>
                </div>
                <div class="col-6 col-md-4">
                    <circle-progress
                    [percent]="60"
                    [radius]="100"
                    [animation]="true"
                    [animationDuration]="1000"
                    [startFromZero]="true"
                    ></circle-progress>
                    <h6 class="circle-title text-center">Angular</h6>
                </div>
                <div class="col-6 col-md-4">
                    <circle-progress
                    [percent]="45"
                    [radius]="100"
                    [animation]="true"
                    [animationDuration]="1000"
                    [startFromZero]="true"
                    ></circle-progress>
                    <h6 class="circle-title text-center">Java</h6>
                </div>
                <div class="col-6 col-md-4">
                    <circle-progress
                    [percent]="30"
                    [radius]="100"
                    [animation]="true"
                    [animationDuration]="1000"
                    [startFromZero]="true"
                    ></circle-progress>
                    <h6 class="circle-title text-center">Wordpress</h6>
                </div>
            </div>
            <hr class="line">
            <div class="row">
                <div class="col-12">
                    <h3 class="profile-title pb-md-5 mb-md-3 text-md-center">experience & education</h3>
                </div>
            </div>
        </div>
    </section>
</div>