<div class="container profile-container">
    <section class="title-container text-center d-none d-md-block">
        <h1>About <span>me</span></h1>
        <span class="title-bg">Know More</span>
    </section>

    <section class="profile-content">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <div class="container">
                        <div class="row ">
                            <div class="col-12">
                                <h3 class="profile-title pb-4 text-md-center">Personal Infos</h3>
                            </div>
                            <div class="col-md-6 col-12">
                                <ul class="about-list list-unstyled">
                                    <li>
                                        <span class="title">First Name : </span>
                                        <span class="info-text"> Jasper</span>
                                    </li>
                                    <li>
                                        <span class="title">Last Name : </span>
                                        <span class="info-text"> Tham</span>
                                    </li>
                                    <li>
                                        <span class="title">Age : </span>
                                        <span class="info-text"> 22</span>
                                    </li>
                                    <li>
                                        <span class="title">Nationality : </span>
                                        <span class="info-text"> Malaysian</span>
                                    </li>
                                    <li>
                                        <span class="title">Availability : </span>
                                        <span class="info-text"> Immediate</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-12">
                                <ul class="about-list list-unstyled">
                                    <li>
                                        <span class="title">Location : </span>
                                        <span class="info-text"> Malaysia, Sabah</span>
                                    </li>
                                    <li>
                                        <span class="title">Phone number : </span>
                                        <span class="info-text"> +6016-4928027</span>
                                    </li>
                                    <li>
                                        <span class="title">Email : </span>
                                        <span class="info-text"> jaspertham98@gmail.com</span>
                                    </li>
                                    <li>
                                        <span class="title">Github : </span>
                                        <span class="info-text"> github.com/jaspetham</span>
                                    </li>
                                    <li>
                                        <span class="title">Language : </span>
                                        <span class="info-text"> English, Chinese, Malay</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 mt-4 text-md-center">
                                <a href="../../assets/Jasper_Tham_Resume_final.pdf" class="btn custom-btn"><span>  download cv</span></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <hr class="line">
            <div class="row">
                <div class="col-12">
                    <h3 class="profile-title pb-md-5 mb-md-3 text-md-center">My skills</h3>
                </div>
                <div class="col-6 col-md-4">
                    <circle-progress
                    [percent]="80"
                    [radius]="100"
                    [animation]="true"
                    [animationDuration]="1000"
                    [startFromZero]="true"
                    ></circle-progress>
                    <h6 class="circle-title text-center">HTML</h6>
                </div>
                <div class="col-6 col-md-4">
                    <circle-progress
                    [percent]="80"
                    [radius]="100"
                    [animation]="true"
                    [animationDuration]="1000"
                    [startFromZero]="true"
                    ></circle-progress>
                    <h6 class="circle-title text-center">CSS</h6>
                </div>
                <div class="col-6 col-md-4">
                    <circle-progress
                    [percent]="88"
                    [radius]="100"
                    [animation]="true"
                    [animationDuration]="1000"
                    [startFromZero]="true"
                    ></circle-progress>
                    <h6 class="circle-title text-center">Bootstrap 4</h6>
                </div>
                <div class="col-6 col-md-4">
                    <circle-progress
                    [percent]="60"
                    [radius]="100"
                    [animation]="true"
                    [animationDuration]="1000"
                    [startFromZero]="true"
                    ></circle-progress>
                    <h6 class="circle-title text-center">Angular</h6>
                </div>
                <div class="col-6 col-md-4">
                    <circle-progress
                    [percent]="45"
                    [radius]="100"
                    [animation]="true"
                    [animationDuration]="1000"
                    [startFromZero]="true"
                    ></circle-progress>
                    <h6 class="circle-title text-center">Java</h6>
                </div>
                <div class="col-6 col-md-4">
                    <circle-progress
                    [percent]="30"
                    [radius]="100"
                    [animation]="true"
                    [animationDuration]="1000"
                    [startFromZero]="true"
                    ></circle-progress>
                    <h6 class="circle-title text-center">Wordpress</h6>
                </div>
            </div>
            <hr class="line">
            <div class="row">
                <div class="resu-edu-container">
                    <div class="col-12">
                        <h3 class="profile-title pb-md-5 mb-md-3 text-md-center">experience & education</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="education-container">
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <fa-icon [icon]="graduation"></fa-icon>
                                        </div>
                                        <span class="small-text text-uppercase">2017 - 2019</span>
                                        <h5 class="resu-edu-title text-uppercase">Bachelor Degree <span class="resu-edu-subtitle">Coventry University</span></h5>
                                        <p class="resu-edu-p">Bachelor Of Science in Computer Science, Graduated with Upper Second Class Division</p>
                                    </li>

                                    <li>
                                        <div class="icon">
                                            <fa-icon [icon]="graduation"></fa-icon>
                                        </div>
                                        <span class="small-text text-uppercase">2016 - 2017</span>
                                        <h5 class="resu-edu-title text-uppercase">Diploma <span class="resu-edu-subtitle">PSB Academy</span></h5>
                                        <p class="resu-edu-p">Diploma in Infocomm & Technology, Pass with merit</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="work-container">
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <fa-icon [icon]="briefcase"></fa-icon>
                                        </div>
                                        <span class="small-text text-uppercase">Nov 2019 - April 2020</span>
                                        <h5 class="resu-edu-title text-uppercase">Apprentice Web Developer<span class="resu-edu-subtitle">Phi Soft (Sabah)</span></h5>
                                        <p class="resu-edu-p">Responsible for creating a real life website with using bootstrap 4 and Microweber platform.</p>
                                    </li>

                                    <li>
                                        <div class="icon">
                                            <fa-icon [icon]="briefcase"></fa-icon>
                                        </div>
                                        <span class="small-text text-uppercase">May 2019 - August 2019</span>
                                        <h5 class="resu-edu-title text-uppercase">Software Programmer <span class="resu-edu-subtitle">Rentech (Singapore)</span></h5>
                                        <p class="resu-edu-p">Responsible for creating a real life website with using bootstrap 4 and Microweber platform.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>