.title-container{
    margin:0;
    width:100%;
    position: relative;
    padding:80px 0;
}
.title-container h1{
    color:white;
    font-size:56px;
    text-transform: uppercase;
    margin:0;
    font-weight: 900;
    font-family: var(--default-font);
}

.title-container span{
    color:var(--primary-color);
}

.title-container .title-bg{
    font-size:110px;
    left:0;
    right:0;
    position: absolute;
    transform:translateY(-50%);
    top:50%;
    letter-spacing: 10px;
    line-height: 0.7;
    text-transform: uppercase;
    font-weight: 800;
    color:rgba(255,255,255,0.07);
}

.profile-content .about-list{
    font-family: var(--secondary-font);
}

.profile-content .profile-title{
    font-size: 27px;
    padding-bottom: 22px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--default-font);
}

.profile-content .about-list .title {
    font-size:19px;
    opacity: .8;
    text-transform: capitalize;
}

.profile-content .about-list .info-text{
    font-weight: 600;
    font-size:19px;
}
.profile-content .about-list li:not(:last-child){
    padding-bottom: 20px;
}

.profile-content .custom-btn{
    background-color: var(--primary-color);
}

.profile-content .btn{
    box-shadow: none !important;
    border-radius: 26px;
    font-weight: 500;
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 40px;
    outline: none !important;
    overflow: hidden;
    display: inline-block;
    position: relative;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
    border: 0;
}

hr.line{
    border-top:1px solid #252525;
    margin:70px auto 55px;
    max-width:40%;
}

.profile-content .circle-title{
    font-size: 22px;
    padding:30px 0;
}

.resu-edu-container{
    width:100%;
}

.resu-edu-container .icon{
    width:40px;
    height:40px;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 40px;
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    color: #fff;
    background-color: var(--primary-color);
}

.resu-edu-container .small-text{
    color:white;
    font-size:12px;
    padding:1px 10px;
    display: inline-block;
    margin-bottom:12px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #252525;
}

.resu-edu-container .resu-edu-title{
    font-size:18px;
    margin:7px 0 10px;
}

.resu-edu-container .resu-edu-subtitle{
    opacity: .8;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    padding-left: 26px;
}

.resu-edu-container .resu-edu-subtitle:before{
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background-color: #fff;
    left: 7px;
    top: 9px;
    opacity: .8;
}

.resu-edu-container .resu-edu-p{
    font-size:14px;
    color:white;
    margin:0;
}


.resu-edu-container li:after{
    content:"";
    position: absolute;
    top:0;
    left:20px;
    bottom:0;
    border-left:1px solid #333;
}

.resu-edu-container li{
    position: relative;
    padding: 0 20px 0 60px;
    margin: 0 0 50px;
}
@media(min-width:992px){
    .btn.custom-btn:before{
        content: "\f019";
    }
    .profile-content .btn:hover span{
        position: relative;
        display: block;
        transform: translateX(-10px);
        transition: transform 0.3s;
    }
    .profile-content .btn:before{
        font-family: 'FontAwesome';
        color: #fff;
        position: absolute;
        height: 100%;
        right: 0;
        top: 25%;
        margin-top: -12px;
        transition: all 0.3s;
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    .profile-content .btn:hover::before{
        opacity: 1;
    }
}

@media(max-width:720px){
    .profile-content .profile-title{
        font-size:22px;
    }
    .profile-content .about-list .title{
        font-size:14px;   
    }
    .profile-content .about-list .info-text{
        font-size:14px;
    }

    .profile-content span{
        display: inline;
    }

    .profile-content .btn{
        font-size:14px;
        padding: 0 20px;
    }

    .profile-content .circle-title{
        font-size: 14px;
        padding:0;
    }

    .resu-edu-container .profile-title{
        font-size:18px;
    }
    .resu-edu-container .resu-edu-title{
        font-size:14px;
    }

    .resu-edu-container .resu-edu-p{
        font-size:14px;
    }
}