<div class="container-fluid home">
    <div class="row home-container">
        <div class="color-block d-none d-lg-block"></div>
        <div class="col-lg-5 bigImage d-none d-lg-block"></div>
        <div class="col-12 col-lg-7 home-detail">
            <div>
                <div class="img-container">
                    <img class="img-fluid main-img-mobile d-md-none mb-5"src="../../assets/me-square.jpg" alt="me">
                </div>
                
                <h6 class="text-uppercase mb-0">Hello There!</h6>
                <h1 class="text-uppercase"> <span> I'm</span> Jasper Tham</h1>
                <p>I'm a fresh graduate from Coventry University. My course is Bachelor of Science in Computer Science with Honours. I been doing android studio app project during my course. Recently, has developed an interest in learning web development.</p>
                <div class="btn-container">
                    <a href="/profile" class="btn custom-btn"><span>about me</span></a>
                </div>
            </div>
        </div>
    </div>
</div>