<div class="container-fluid home">
  <div class="row home-container">
    <div class="color-block d-none d-md-block"></div>
    <div class="col-md-5 bigImage d-none d-md-block"></div>
    <div class="col-12 col-md-7 home-detail">
      <div>
        <div class="img-container">
          <img
            class="img-fluid main-img-mobile d-md-none mb-5"
            src="../../assets/me-square.jpg"
            alt="me"
          />
        </div>

        <h6 class="text-uppercase mb-0">Hello There!</h6>
        <h1 class="text-uppercase"><span> I'm</span> Jasper Tham!</h1>
        <p>
          I’m a fresh graduate holding Bachelor of Science in Computer Science
          with Honour from Conventry University. I am originally from the land
          below the wind - Sabah, Malaysia. I can speak fluent English and
          Chinese and basic Malay. In my final year project , I researched in
          android studio application. After my study, I volunteered myself to a
          web development company for 3 months. I am passionate in Web and
          Development and want to have a career in this field.
        </p>
        <div class="btn-container">
          <a routerLink="/profile" class="btn custom-btn"
            ><span>more about me</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
