<div class="container-fluid home">
    <div class="row align-items-center home-container">
        <div class="col-lg-5 bigImage"></div>
        <div class="col-lg-7 home-detail text-left">
            <div>
                <img class="img-fluid main-img-mobile d-none d-sm-block d-lg-none"src="https://jaspertham.com/img/me.png" alt="me">
                <h6 class="text-uppercase mb-0">Hi There!</h6>
                <h1 class="text-uppercase"> <span> I'm</span> Jasper Tham</h1>
            </div>
        </div>
    </div>
</div>