.home .home-container{
    height:100vh;
    align-items: center;
}

.home .color-block{
    background-color:#ffb400;
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
}
.home .bigImage{
    background-image:url('../../assets/me-square.jpg') ;
    background-size:cover;
    background-repeat: no-repeat;
    height:calc(90vh - 60px);
    z-index:111;
    border-radius: 15px;
    box-shadow: 0 0 7px rgba(0,0,0,.9);
}


.home .home-detail{
    padding-left:150px;
}

.home .home-detail > div{
    max-width:600px;
}

.home .home-detail h6{
    font-size:22px;
    font-weight: 400;
}

.home .home-detail h1 span{
    color:white;
    font-weight: 600;
}
.home .home-detail h1{
    font-size:45px;
    line-height: 45px;
    font-weight: 700;
    margin:18px 0 10px;
    color:#ffb400;
}

.home .home-detail p{
    margin:10px 0 23px;
    font-size:16px;
    line-height: 32px;
}

.home .home-detail .btn-about{
    background-color: #ffb400;
    color:white;
    text-decoration:none;
    padding: 0 40px;
    line-height: 46px;
    font-size:15px;
    font-weight: 500;
    border-radius: 26px;
    text-transform: uppercase;
}

@media(max-width:768px){
    .main-img-mobile{
        height:150px;
        margin-top:0;
    }

    .home .home-detail{
        padding: 0;
    }

    .home .home-container{
        align-items: flex-start;
    }

    .home .home-detail h6{
        font-size:19px;
    }

    .home .home-detail h1{
        font-size:29px;
        line-height: 29px;
        margin:18px 0 13px;
    }

    .home .home-detail p{
        font-size:14px;
        line-height: 28px;
    }

    .btn{
        font-size:14px;
        padding:0 28px;
    }

}
