<div class="container work-container">
  <section class="title-container text-center d-none d-md-block">
    <h1>My <span>Works</span></h1>
    <span class="title-bg">Check Out</span>
  </section>
  <section>
    <ul id="da-thumbs" class="da-thumbs list-unstyled">
      <li>
        <a href="https://challenge-4d052.web.app/">
          <img class="img-fluid" src="../../assets/amazon-clone.png" />
          <div class="text-center">
            <span>Amazon Clone</span>
            <p>
              Please use the test card during checkout by just typing 4242
              repeatly until the card number, expiry, cvc is filled
            </p>
            <section>
              <a
                href="https://challenge-4d052.web.app/"
                target="_blank"
                class="btn btn-info"
                id="btn-left"
                style="right: 10px"
                >Demo</a
              >
              <a
                href="https://github.com/jaspetham/Amazon-Clone"
                target="_blank"
                class="btn btn-info"
                id="btn-right"
                style="left: 10px"
                >Code</a
              >
            </section>
          </div>
        </a>
      </li>
      <li>
        <a href="http://tcj-portfolio.jaspertham.com/">
          <img class="img-fluid" src="../../assets/tcj-portfolio.png" />
          <div class="text-center">
            <span>TCJ Portfolio</span>
            <section>
              <a
                href="http://tcj-portfolio.jaspertham.com/"
                target="_blank"
                class="btn btn-info"
                id="btn-left"
                style="right: 10px"
                >Demo</a
              >
              <a
                href="https://github.com/jaspetham/TCJ-Portfolio"
                target="_blank"
                class="btn btn-info"
                id="btn-right"
                style="left: 10px"
                >Code</a
              >
            </section>
          </div>
        </a>
      </li>
      

      <li>
        <a href="http://barber-web.jaspertham.com/" target="_blank">
          <img class="img-fluid" src="../../assets/barber-web.png" />
          <div class="text-center">
            <span>Barber Web</span>
            <section>
              <a
                href="http://barber-web.jaspertham.com/"
                target="_blank"
                class="btn btn-info"
                id="btn-left"
                style="right: 10px"
                >Demo</a
              >
              <a
                href="https://github.com/jaspetham/Barber-Web"
                target="_blank"
                class="btn btn-info"
                id="btn-right"
                style="left: 10px"
                >Code</a
              >
            </section>
          </div>
        </a>
      </li>
      <li>
        <a href="http://power-gym.jaspertham.com/" target="_blank">
          <img class="img-fluid" src="../../assets/power-gym.png" />
          <div class="text-center">
            <span>Gym Website</span>
            <section>
              <a
                href="http://power-gym.jaspertham.com/"
                target="_blank"
                class="btn btn-info"
                id="btn-left"
                style="right: 10px"
                >Demo</a
              >
              <a
                href="https://github.com/jaspetham/Power-Gym-Website"
                target="_blank"
                class="btn btn-info"
                id="btn-right"
                style="left: 10px"
                >Code</a
              >
            </section>
          </div>
        </a>
      </li>
      <li>
        <a href="https://www.richtechenterprise.com" target="_blank">
          <img class="img-fluid" src="../../assets/richtech.png" />
          <div class="text-center">
            <span>Richtech Enterprise</span>
            <section>
              <a
                href="https://www.richtechenterprise.com"
                target="_blank"
                class="btn btn-info btn-solo"
                >Demo</a
              >
            </section>
          </div>
        </a>
      </li>
      <li>
        <a href="http://old-jaspertham.jaspertham.com/" target="_blank">
          <img class="img-fluid" src="../../assets/old-portfolio.png" />
          <div class="text-center">
            <span>Old Portfolio</span>
            <section>
              <a
                href="http://old-jaspertham.jaspertham.com/"
                target="_blank"
                class="btn btn-info"
                id="btn-left"
                style="right: 10px"
                >Demo</a
              >
              <a
                href="https://github.com/jaspetham/Portfolio-Website"
                target="_blank"
                class="btn btn-info"
                id="btn-right"
                style="left: 10px"
                >Code</a
              >
            </section>
          </div>
        </a>
      </li>
    </ul>
  </section>
</div>
