<div class="container work-container">
    <section class="title-container text-center d-none d-md-block">
        <h1>My <span>Works</span></h1>
        <span class="title-bg">Check Out</span>
    </section>
    <section>
        <ul id="da-thumbs" class="da-thumbs list-unstyled"> 
            <li>
                <a href="https://static.dribbble.com/users/22721/screenshots/500369/2900px.jpg">
                    <img class="img-fluid" src="https://static.dribbble.com/users/22721/screenshots/500369/2900px.jpg" />
                    <div>
                        <span>
                            Seahorse by Trevor Basset
                            
                        </span>
                        <section>
                            <a href="" class="btn btn-info" style="right:10px">Demo</a>
                            <a href="" class="btn btn-info" style="left:10px">Code</a>
                        </section>
                       
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.richtechenterprise.com" target="_blank">
                    <img class="img-fluid" src="../../assets/richtech.png" />
                    <div>
                        <span>Richtech Enterprise</span>
                        <section>
                            <a href="https://www.richtechenterprise.com" target="_blank" class="btn btn-info" style="right:10px">Demo</a>
                            <a href="" class="btn btn-info"style="left:10px">Code</a>
                        </section>
                    </div>
                    
                </a>
            </li>
        </ul>
    </section>
</div>