<div class="container work-container">
    <section class="title-container text-center d-none d-md-block">
        <h1>My <span>Works</span></h1>
        <span class="title-bg">Check Out</span>
    </section>
    <section>
        <ul id="da-thumbs" class="da-thumbs list-unstyled"> 
            <li>
                <a href="https://barber-web.herokuapp.com/" target="_blank">
                    <img class="img-fluid" src="../../assets/barber-web.png" />
                    <div class="text-center">
                        <span>Barber Web</span>
                        <p>Please give 1 minute load time due to slow server</p>
                        <section>
                            <a href="https://barber-web.herokuapp.com/" target="_blank" class="btn btn-info" id="btn-left" style="right:10px">Demo</a>
                            <a href="https://github.com/jaspetham/Barber-Web" target="_blank" class="btn btn-info" id="btn-right" style="left:10px">Code</a>
                        </section> 
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.richtechenterprise.com" target="_blank">
                    <img class="img-fluid" src="../../assets/richtech.png" />
                    <div class="text-center">
                        <span>Richtech Enterprise</span>
                        <section>
                            <a href="https://www.richtechenterprise.com" target="_blank" class="btn btn-info btn-solo">Demo</a>
                        </section>
                    </div> 
                </a>
            </li>
            <li>
                <a href="https://shopreview.online/" target="_blank">
                    <img class="img-fluid" src="../../assets/shop-review.png" />
                    <div class="text-center">
                        <span>Shop Review</span>
                        <section>
                            <a href="https://shopreview.online/" target="_blank" class="btn btn-info btn-solo">Demo</a>
                        </section>
                    </div> 
                </a>
            </li>
            <li>
                <a href="https://old-jaspertham.herokuapp.com/" target="_blank">
                    <img class="img-fluid" src="../../assets/old-portfolio.png"/>
                    <div class="text-center">
                        <span>Old Portfolio</span>
                        <p>Please give 1 minute load time due to slow server</p>
                        <section>
                            <a href="https://old-jaspertham.herokuapp.com/" target="_blank" class="btn btn-info" id="btn-left" style="right:10px">Demo</a>
                            <a href="https://github.com/jaspetham/Portfolio-Website" target="_blank" class="btn btn-info" id="btn-right" style="left:10px">Code</a>
                        </section> 
                    </div> 
                </a>
            </li>
            <li>
                <a href="https://powergym-web.herokuapp.com/" target="_blank">
                    <img class="img-fluid" src="../../assets/power-gym.png"/>
                    <div class="text-center">
                        <span>Gym Website</span>
                        <p>Please give 1 minute load time due to slow server</p>
                        <section>
                            <a href="https://powergym-web.herokuapp.com/" target="_blank" class="btn btn-info" id="btn-left" style="right:10px">Demo</a>
                            <a href="https://github.com/jaspetham/Power-Gym-Website" target="_blank" class="btn btn-info" id="btn-right" style="left:10px">Code</a>
                        </section> 
                    </div> 
                </a>
            </li>
        </ul>
    </section>
</div>